h1{
    max-width: right 10%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://cdn1.vectorstock.com/i/1000x1000/14/40/red-cross-symbol-background-design-vector-831440.jpg) no-repeat;
    background-size: cover;
    color: white;
}
.inputNames{
    /* background-color:white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2em;
    font-weight: bold;
    text-align: top;
}
.image{
    columns: 1/2;
    justify-content: end;
    display:flex;
    border: black 10px solid;
    width: 300p;
}

.grid{
    columns: 2/3;
    width: 75vw;
    margin-left: 20vw;
}
input{
    width: 30vw;
    padding: 1em;
    
}
body{
    background-color: red;
}
button{
  padding: 15px 32px;
  font-size: 16px;
}
.button{
    justify-content: end;
    display: flex;
}
.title{
    text-align: center;
    text-decoration: underline;
}
.login{
    justify-content: end;
}
